doc/* linguist-documentation=true
plume-data/engine/engine.lua linguist-generated=true
plume-data/engine/engine-opt.lua linguist-generated=true
plume-data/engine/generated/* linguist-generated=true
tests/report.html linguist-generated=true